In [1]:
import pandas as pd

In [2]:
import pandas as pd
# Load Data
movies = pd.read_csv("../dataset/imdb_top_1000.csv")

In [3]:
movies.head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
movies.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [6]:
movies.shape

(1000, 16)

In [7]:
movies.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [8]:
movies.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [9]:
# fill in certificate missing value
movies['Certificate'] = movies['Certificate'].fillna('No Certificate')

movies.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate        0
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [10]:
# fill missing value in meta score
movies.sort_values('IMDB_Rating', ascending = False)
#movies.head(10)

# meta score is review of user, thus use the mean of previous and after movie's Meta score after arrange according IMDB rating
movies['Meta_score'] = movies['Meta_score'].interpolate(method='linear')

# check is that all null value had been removed
movies.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate        0
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score         0
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [11]:
print(movies['Gross'].dtype)

# Convert the 'Gross' column to string type if it's not already
if movies['Gross'].dtype != 'object':
    movies['Gross'] = movies['Gross'].astype(str)

# Now apply the replace function to remove commas
movies['Gross'] = movies['Gross'].str.replace(',', '')

# Convert the 'Gross' column to numeric, handling non-convertible values
movies['Gross'] = pd.to_numeric(movies['Gross'], errors='coerce')

# Calculate the mean of the 'Gross' column
mean_gross = movies['Gross'].mean()

# Fill the missing values in 'Gross' with the calculated mean
movies['Gross'] = movies['Gross'].fillna(mean_gross)

# Format the 'Gross' column to 2 decimal places
movies['Gross'] = movies['Gross'].apply(lambda x: f"{x:.2f}")

print(movies['Gross'].head())

object
0     28341469.00
1    134966411.00
2    534858444.00
3     57300000.00
4      4360000.00
Name: Gross, dtype: object

In [12]:
movies.isnull().values.any()

False

In [13]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    1000 non-null   object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     1000 non-null   float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          1000 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [14]:
movies.duplicated().sum()

0

In [15]:
# Check Garbage Value
for i in movies.select_dtypes(include = "object").columns:
    print(movies[i].value_counts())
    print("---" * 10)

Poster_Link
https://m.media-amazon.com/images/M/MV5BMDFkYTc0MGEtZmNhMC00ZDIzLWFmNTEtODM1ZmRlYWMwMWFmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_UX67_CR0,0,67,98_AL_.jpg                    1
https://m.media-amazon.com/images/M/MV5BMjI5NjEzMDYyMl5BMl5BanBnXkFtZTgwNjgwNTg4NjE@._V1_UY98_CR3,0,67,98_AL_.jpg                                                    1
https://m.media-amazon.com/images/M/MV5BY2EyZDlhNjItODYzNi00Mzc3LWJjOWUtMTViODU5MTExZWMyL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX67_CR0,0,67,98_AL_.jpg            1
https://m.media-amazon.com/images/M/MV5BODRkYzA4MGItODE2MC00ZjkwLWI2NDEtYzU1NzFiZGU1YzA0XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_UX67_CR0,0,67,98_AL_.jpg                    1
https://m.media-amazon.com/images/M/MV5BODllYjM1ODItYjBmOC00MzkwLWJmM2YtMjMyZDU3MGJhNjc4L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_UX67_CR0,0,67,98_AL_.jpg    1
                                                                                                                                                                    ..
https://m.media-amazon.com/images/M/MV5BOTgwMzFiMWYtZDhlNS00ODNkLWJiODAtZDVhNzgyNzJhYjQ4L2ltYWdlXkEyXkFqcGdeQXVyNzEzOTYxNTQ@._V1_UX67_CR0,0,67,98_AL_.jpg            1
https://m.media-amazon.com/images/M/MV5BMTAwMjU5OTgxNjZeQTJeQWpwZ15BbWU4MDUxNDYxODEx._V1_UX67_CR0,0,67,98_AL_.jpg                                                    1
https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_UX67_CR0,0,67,98_AL_.jpg                                                    1
https://m.media-amazon.com/images/M/MV5BMjA1Nzk0OTM2OF5BMl5BanBnXkFtZTgwNjU2NjEwMDE@._V1_UX67_CR0,0,67,98_AL_.jpg                                                    1
https://m.media-amazon.com/images/M/MV5BMTY5ODAzMTcwOF5BMl5BanBnXkFtZTcwMzYxNDYyNA@@._V1_UX67_CR0,0,67,98_AL_.jpg                                                    1
Name: count, Length: 1000, dtype: int64
------------------------------
Series_Title
Drishyam                    2
The Shawshank Redemption    1
Awakenings                  1
Tombstone                   1
The Sandlot                 1
                           ..
Guardians of the Galaxy     1
Blade Runner 2049           1
Her                         1
Bohemian Rhapsody           1
The 39 Steps                1
Name: count, Length: 999, dtype: int64
------------------------------
Released_Year
2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1926     1
1936     1
1924     1
1921     1
PG       1
Name: count, Length: 100, dtype: int64
------------------------------
Certificate
U                 234
A                 197
UA                175
R                 146
No Certificate    101
PG-13              43
PG                 37
Passed             34
G                  12
Approved           11
TV-PG               3
GP                  2
TV-14               1
16                  1
TV-MA               1
Unrated             1
U/A                 1
Name: count, dtype: int64
------------------------------
Runtime
100 min    23
130 min    23
129 min    22
101 min    22
113 min    22
           ..
185 min     1
205 min     1
212 min     1
238 min     1
78 min      1
Name: count, Length: 140, dtype: int64
------------------------------
Genre
Drama                        85
Drama, Romance               37
Comedy, Drama                35
Comedy, Drama, Romance       31
Action, Crime, Drama         30
                             ..
Adventure, Thriller           1
Animation, Action, Sci-Fi     1
Action, Crime, Comedy         1
Animation, Crime, Mystery     1
Adventure, Comedy, War        1
Name: count, Length: 202, dtype: int64
------------------------------
Overview
Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.                                                                                                           1
The victims of an encephalitis epidemic many years ago have been catatonic ever since, but now a new drug offers the prospect of reviving them.                                                                                  1
A young man in a small Midwestern town struggles to care for his mentally-disabled younger brother and morbidly obese mother while attempting to pursue his own happiness.                                                       1
A successful lawman's plans to retire anonymously in Tombstone, Arizona are disrupted by the kind of outlaws he was famous for eliminating.                                                                                      1
In the summer of 1962, a new kid in town is taken under the wing of a young baseball prodigy and his rowdy team, resulting in many adventures.                                                                                   1
                                                                                                                                                                                                                                ..
During World War II, the English mathematical genius Alan Turing tries to crack the German Enigma code with help from fellow mathematicians.                                                                                     1
A group of intergalactic criminals must pull together to stop a fanatical warrior with plans to purge the universe.                                                                                                              1
Young Blade Runner K's discovery of a long-buried secret leads him to track down former Blade Runner Rick Deckard, who's been missing for thirty years.                                                                          1
In a near future, a lonely writer develops an unlikely relationship with an operating system designed to meet his every need.                                                                                                    1
A man in London tries to help a counter-espionage Agent. But when the Agent is killed, and the man stands accused, he must go on the run to save himself and stop a spy ring which is trying to steal top secret information.    1
Name: count, Length: 1000, dtype: int64
------------------------------
Director
Alfred Hitchcock    14
Steven Spielberg    13
Hayao Miyazaki      11
Martin Scorsese     10
Akira Kurosawa      10
                    ..
Neill Blomkamp       1
Tomas Alfredson      1
Duncan Jones         1
Jacques Audiard      1
George Stevens       1
Name: count, Length: 548, dtype: int64
------------------------------
Star1
Tom Hanks          12
Robert De Niro     11
Al Pacino          10
Clint Eastwood     10
Humphrey Bogart     9
                   ..
Preity Zinta        1
Javier Bardem       1
Ki-duk Kim          1
Vladimir Garin      1
Robert Donat        1
Name: count, Length: 660, dtype: int64
------------------------------
Star2
Emma Watson          7
Matt Damon           5
Kate Winslet         4
Ian McKellen         4
Chris Evans          4
                    ..
Viola Davis          1
Morena Baccarin      1
Shahab Hosseini      1
Simon Yam            1
Madeleine Carroll    1
Name: count, Length: 841, dtype: int64
------------------------------
Star3
Rupert Grint          5
Scarlett Johansson    4
Jennifer Connelly     4
Rachel McAdams        4
John Goodman          4
                     ..
Arifin Putra          1
Matthew Goode         1
Bradley Cooper        1
Gwilym Lee            1
Lucie Mannheim        1
Name: count, Length: 891, dtype: int64
------------------------------
Star4
Michael Caine        4
Mark Ruffalo         3
Catherine Keener     3
Julianne Moore       2
Donald Sutherland    2
                    ..
Paul Rudd            1
Derek Jacobi         1
Ed Skrein            1
Merila Zare'i        1
Godfrey Tearle       1
Name: count, Length: 939, dtype: int64
------------------------------
Gross
68034750.87     169
4360000.00        5
9600000.00        2
25000000.00       2
5450000.00        2
               ...
106662.00         1
10950.00          1
4018695.00        1
141319928.00      1
30500000.00       1
Name: count, Length: 824, dtype: int64
------------------------------

In [16]:
movies["Released_Year"].unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943', 'PG'], dtype=object)

In [17]:
# Find the movie with invalid year
pg_year = movies[movies["Released_Year"] == "PG"]
pg_year

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,PG,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,173837933.00

In [18]:
# Replace with correct year
movies["Released_Year"] = movies["Released_Year"].replace("PG", "1995")

In [19]:
# Check either replace successfully or not
chk_movies_1995 = movies[movies["Released_Year"] == "1995"]
chk_movies_1995

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
27,https://m.media-amazon.com/images/M/MV5BOTUwOD...,Se7en,1995,A,127 min,"Crime, Drama, Mystery",8.6,"Two detectives, a rookie and a veteran, hunt a...",65.0,David Fincher,Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew Kevin Walker,1445096,100125643.00
41,https://m.media-amazon.com/images/M/MV5BYTViNj...,The Usual Suspects,1995,A,106 min,"Crime, Mystery, Thriller",8.5,A sole survivor tells of the twisty events lea...,77.0,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin,991208,23341568.00
101,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,Toy Story,1995,U,81 min,"Animation, Adventure, Comedy",8.3,A cowboy doll is profoundly threatened and jea...,95.0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Jim Varney,887429,191796233.00
102,https://m.media-amazon.com/images/M/MV5BMzkzMm...,Braveheart,1995,A,178 min,"Biography, Drama, History",8.3,Scottish warrior William Wallace leads his cou...,68.0,Mel Gibson,Mel Gibson,Sophie Marceau,Patrick McGoohan,Angus Macfadyen,959181,75600000.00
164,https://m.media-amazon.com/images/M/MV5BNGMwNz...,Heat,1995,A,170 min,"Crime, Drama, Thriller",8.2,A group of professional bank robbers start to ...,76.0,Michael Mann,Al Pacino,Robert De Niro,Val Kilmer,Jon Voight,577113,67436818.00
165,https://m.media-amazon.com/images/M/MV5BMTcxOW...,Casino,1995,A,178 min,"Crime, Drama",8.2,"A tale of greed, deception, money, power, and ...",73.0,Martin Scorsese,Robert De Niro,Sharon Stone,Joe Pesci,James Woods,466276,42438300.00
256,https://m.media-amazon.com/images/M/MV5BNzI4YT...,Underground,1995,No Certificate,170 min,"Comedy, Drama, War",8.1,A group of Serbian socialists prepares for the...,83.0,Emir Kusturica,Predrag 'Miki' Manojlovic,Lazar Ristovski,Mirjana Jokovic,Slavko Stimac,55220,171082.00
257,https://m.media-amazon.com/images/M/MV5BNDNiOT...,La haine,1995,UA,98 min,"Crime, Drama",8.1,24 hours in the lives of three young men in th...,81.0,Mathieu Kassovitz,Vincent Cassel,Hubert Koundé,Saïd Taghmaoui,Abdel Ahmed Ghili,150345,309811.00
258,https://m.media-amazon.com/images/M/MV5BYmNjYz...,Dilwale Dulhania Le Jayenge,1995,U,189 min,"Drama, Romance",8.1,"When Raj meets Simran in Europe, it isn't love...",79.0,Aditya Chopra,Shah Rukh Khan,Kajol,Amrish Puri,Farida Jalal,63516,68034750.87
259,https://m.media-amazon.com/images/M/MV5BZDdiZT...,Before Sunrise,1995,R,101 min,"Drama, Romance",8.1,A young man and woman meet on a train in Europ...,77.0,Richard Linklater,Ethan Hawke,Julie Delpy,Andrea Eckert,Hanno Pöschl,272291,5535405.00
393,https://m.media-amazon.com/images/M/MV5BN2Y2OW...,Twelve Monkeys,1995,A,129 min,"Mystery, Sci-Fi, Thriller",8.0,"In a future world devastated by disease, a con...",74.0,Terry Gilliam,Bruce Willis,Madeleine Stowe,Brad Pitt,Joseph Melito,578443,57141459.00
394,https://m.media-amazon.com/images/M/MV5BYWRiYj...,Kôkaku Kidôtai,1995,UA,83 min,"Animation, Action, Crime",8.0,A cyborg policewoman and her partner hunt a my...,76.0,Mamoru Oshii,Atsuko Tanaka,Iemasa Kayumi,Akio Ôtsuka,Kôichi Yamadera,129231,515905.00
518,https://m.media-amazon.com/images/M/MV5BZDg0MW...,Mimi wo sumaseba,1995,U,111 min,"Animation, Drama, Family",7.9,A love story between a girl who loves reading ...,75.0,Yoshifumi Kondô,Yoko Honna,Issey Takahashi,Takashi Tachibana,Shigeru Muroi,51943,68034750.87
813,https://m.media-amazon.com/images/M/MV5BZDQzMG...,A Little Princess,1995,U,97 min,"Drama, Family, Fantasy",7.7,A young girl is relegated to servitude at a bo...,83.0,Alfonso Cuarón,Liesel Matthews,Eleanor Bron,Liam Cunningham,Rusty Schwimmer,32236,10019307.00
814,https://m.media-amazon.com/images/M/MV5BZjM4NW...,Do lok tin si,1995,UA,99 min,"Comedy, Crime, Drama",7.7,This Hong Kong-set crime drama follows the liv...,71.0,Kar-Wai Wong,Leon Lai,Michelle Reis,Takeshi Kaneshiro,Charlie Yeung,26429,68034750.87
962,https://m.media-amazon.com/images/M/MV5BNzk1Mj...,Sense and Sensibility,1995,U,136 min,"Drama, Romance",7.6,"Rich Mr. Dashwood dies, leaving his second wif...",84.0,Ang Lee,Emma Thompson,Kate Winslet,James Fleet,Tom Wilkinson,102598,43182776.00
963,https://m.media-amazon.com/images/M/MV5BZjI0ZW...,Die Hard: With a Vengeance,1995,A,128 min,"Action, Adventure, Thriller",7.6,John McClane and a Harlem store owner are targ...,58.0,John McTiernan,Bruce Willis,Jeremy Irons,Samuel L. Jackson,Graham Greene,364420,100012499.00
964,https://m.media-amazon.com/images/M/MV5BYTJlZm...,Dead Man,1995,R,121 min,"Adventure, Drama, Fantasy",7.6,"On the run after murdering a man, accountant W...",62.0,Jim Jarmusch,Johnny Depp,Gary Farmer,Crispin Glover,Lance Henriksen,90442,1037847.00
965,https://m.media-amazon.com/images/M/MV5BNmRiZD...,The Bridges of Madison County,1995,A,135 min,"Drama, Romance",7.6,Photographer Robert Kincaid wanders into the l...,69.0,Clint Eastwood,Clint Eastwood,Meryl Streep,Annie Corley,Victor Slezak,73172,71516617.00
966,https://m.media-amazon.com/images/M/MV5BNjEzYj...,Apollo 13,1995,U,140 min,"Adventure, Drama, History",7.6,NASA must devise a strategy to return Apollo 1...,77.0,Ron Howard,Tom Hanks,Bill Paxton,Kevin Bacon,Gary Sinise,269197,173837933.00

In [20]:
movies["Released_Year"].unique()

array(['1994', '1972', '2008', '1974', '1957', '2003', '1993', '2010',
       '1999', '2001', '1966', '2002', '1990', '1980', '1975', '2020',
       '2019', '2014', '1998', '1997', '1995', '1991', '1977', '1962',
       '1954', '1946', '2011', '2006', '2000', '1988', '1985', '1968',
       '1960', '1942', '1936', '1931', '2018', '2017', '2016', '2012',
       '2009', '2007', '1984', '1981', '1979', '1971', '1963', '1964',
       '1950', '1940', '2013', '2005', '2004', '1992', '1987', '1986',
       '1983', '1976', '1973', '1965', '1959', '1958', '1952', '1948',
       '1944', '1941', '1927', '1921', '2015', '1996', '1989', '1978',
       '1961', '1955', '1953', '1925', '1924', '1982', '1967', '1951',
       '1949', '1939', '1937', '1934', '1928', '1926', '1920', '1970',
       '1969', '1956', '1947', '1945', '1930', '1938', '1935', '1933',
       '1932', '1922', '1943'], dtype=object)

In [21]:
movies['Certificate'] = movies['Certificate'].replace('TV-PG', 'PG')
movies['Certificate'] = movies['Certificate'].replace('16', '16+')

In [22]:
movies['Certificate'].unique()

array(['A', 'UA', 'U', 'PG-13', 'R', 'No Certificate', 'PG', 'G',
       'Passed', 'TV-14', '16+', 'TV-MA', 'Unrated', 'GP', 'Approved',
       'U/A'], dtype=object)

In [23]:
# Combine Star1, Star2, Star3, Star4 into a single column 'Star'
movies['Stars'] = movies[['Star1', 'Star2', 'Star3', 'Star4']].agg(', '.join, axis=1)

# Drop the original Star1, Star2, Star3, and Star4 columns
movies = movies.drop(columns=['Star1', 'Star2', 'Star3', 'Star4'])

# Verify the new 'Star' column
movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,No_of_Votes,Gross,Stars
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,2343110,28341469.00,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi..."
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,1620367,134966411.00,"Marlon Brando, Al Pacino, James Caan, Diane Ke..."
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,2303232,534858444.00,"Christian Bale, Heath Ledger, Aaron Eckhart, M..."
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,1129952,57300000.00,"Al Pacino, Robert De Niro, Robert Duvall, Dian..."
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,689845,4360000.00,"Henry Fonda, Lee J. Cobb, Martin Balsam, John ..."

In [24]:
import re
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
from nltk.stem import PorterStemmer

def chk_word(movies_infor):
    # Make all information into lowercase
    movies[movies_infor] = movies[movies_infor].str.lower()
    
    # Remove HTML tags (> <)
    movies[movies_infor] = movies[movies_infor].apply(lambda x: re.sub(r'<[^>]+>', '', x))
    
    # Remove punctuation (, . ! ?)
    movies[movies_infor] = movies[movies_infor].apply(lambda x: re.sub(r'[^\w\s]', '', x))
    
    # Remove numbers (1 2 3)
    movies[movies_infor] = movies[movies_infor].apply(lambda x: re.sub(r'\d+', '', x))
    
    # Remove stopwords (the an)
    movies[movies_infor] = movies[movies_infor].apply(lambda x: ' '.join([word for word in x.split() if word not in ENGLISH_STOP_WORDS]))
    
    # Apply stemming (running -> run)
    stemmer = PorterStemmer()
    movies[movies_infor] = movies[movies_infor].apply(lambda x: ' '.join([stemmer.stem(word) for word in x.split()]))
    
    # Remove extra whitespaces
    movies[movies_infor] = movies[movies_infor].apply(lambda x: re.sub(r'\s+', ' ', x).strip())

In [25]:
chk_word("Genre")
chk_word("Overview")
chk_word("Director")
chk_word("Stars")

In [26]:
movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,No_of_Votes,Gross,Stars
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,drama,9.3,imprison men bond number year find solac event...,80.0,frank darabont,2343110,28341469.00,tim robbin morgan freeman bob gunton william s...
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,crime drama,9.2,organ crime dynasti age patriarch transfer con...,100.0,franci ford coppola,1620367,134966411.00,marlon brando al pacino jame caan dian keaton
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,action crime drama,9.0,menac known joker wreak havoc chao peopl gotha...,84.0,christoph nolan,2303232,534858444.00,christian bale heath ledger aaron eckhart mich...
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,crime drama,9.0,earli life career vito corleon s new york citi...,90.0,franci ford coppola,1129952,57300000.00,al pacino robert niro robert duval dian keaton
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,crime drama,9.0,juri holdout attempt prevent miscarriag justic...,96.0,sidney lumet,689845,4360000.00,henri fonda lee j cobb martin balsam john fiedler

In [27]:
cleaned_movies = movies[["Series_Title", "Genre", "Overview","Director","Stars"]]
cleaned_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series_Title  1000 non-null   object
 1   Genre         1000 non-null   object
 2   Overview      1000 non-null   object
 3   Director      1000 non-null   object
 4   Stars         1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

In [28]:
cleaned_movies.head()

,Series_Title,Genre,Overview,Director,Stars
0,The Shawshank Redemption,drama,imprison men bond number year find solac event...,frank darabont,tim robbin morgan freeman bob gunton william s...
1,The Godfather,crime drama,organ crime dynasti age patriarch transfer con...,franci ford coppola,marlon brando al pacino jame caan dian keaton
2,The Dark Knight,action crime drama,menac known joker wreak havoc chao peopl gotha...,christoph nolan,christian bale heath ledger aaron eckhart mich...
3,The Godfather: Part II,crime drama,earli life career vito corleon s new york citi...,franci ford coppola,al pacino robert niro robert duval dian keaton
4,12 Angry Men,crime drama,juri holdout attempt prevent miscarriag justic...,sidney lumet,henri fonda lee j cobb martin balsam john fiedler

In [29]:
cleaned_movies.to_csv('movies.csv',index="False")

In [30]:
pickle_movies = cleaned_movies[["Series_Title"]]
pickle_movies["Poster_Link"] = movies[["Poster_Link"]]
pickle_movies.head()

C:\Users\Asus\AppData\Local\Temp\ipykernel_20900\1974541550.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pickle_movies["Poster_Link"] = movies[["Poster_Link"]]

               Series_Title                                        Poster_Link
0  The Shawshank Redemption  https://m.media-amazon.com/images/M/MV5BMDFkYT...
1             The Godfather  https://m.media-amazon.com/images/M/MV5BM2MyNj...
2           The Dark Knight  https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    The Godfather: Part II  https://m.media-amazon.com/images/M/MV5BMWMwMG...
4              12 Angry Men  https://m.media-amazon.com/images/M/MV5BMWU4N2...

In [31]:
import pickle
pickle.dump(pickle_movies,open('../pickle/movies.pkl', 'wb'))
pickle.load(open('../pickle/movies.pkl', 'rb'))

,Series_Title,Poster_Link
0,The Shawshank Redemption,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,The Godfather: Part II,https://m.media-amazon.com/images/M/MV5BMWMwMG...
4,12 Angry Men,https://m.media-amazon.com/images/M/MV5BMWU4N2...
...,...,...
995,Breakfast at Tiffany's,https://m.media-amazon.com/images/M/MV5BNGEwMT...
996,Giant,https://m.media-amazon.com/images/M/MV5BODk3Yj...
997,From Here to Eternity,https://m.media-amazon.com/images/M/MV5BM2U3Yz...
998,Lifeboat,https://m.media-amazon.com/images/M/MV5BZTBmMj...
999,The 39 Steps,https://m.media-amazon.com/images/M/MV5BMTY5OD...

In [32]:
pickle_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series_Title  1000 non-null   object
 1   Poster_Link   1000 non-null   object
dtypes: object(2)
memory usage: 15.8+ KB

In [42]:
movies.sort_values('IMDB_Rating', ascending = False).head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,No_of_Votes,Gross,Stars
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,drama,9.3,imprison men bond number year find solac event...,80.0,frank darabont,2343110,28341469.00,tim robbin morgan freeman bob gunton william s...
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,crime drama,9.2,organ crime dynasti age patriarch transfer con...,100.0,franci ford coppola,1620367,134966411.00,marlon brando al pacino jame caan dian keaton
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,action crime drama,9.0,menac known joker wreak havoc chao peopl gotha...,84.0,christoph nolan,2303232,534858444.00,christian bale heath ledger aaron eckhart mich...

In [43]:
movies.sort_values('No_of_Votes', ascending = True).head(3)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,No_of_Votes,Gross,Stars
264,https://m.media-amazon.com/images/M/MV5BYmFhZm...,Ba wang bie ji,1993,R,171 min,drama music romanc,8.1,boy meet opera train school peke result friend...,82.333333,kaig chen,25088,5216888.00,lesli cheung fengyi zhang gong li ge
721,https://m.media-amazon.com/images/M/MV5BNjRhYz...,God's Own Country,2017,No Certificate,104 min,drama romanc,7.7,spring yorkshir young farmer johnni saxbi numb...,85.000000,franci lee,25198,335609.00,josh oconnor alec secareanu gemma jone ian hart
694,https://m.media-amazon.com/images/M/MV5BYjhhMD...,La planète sauvage,1973,U,72 min,anim scifi,7.8,faraway planet blue giant rule oppress humanoi...,73.000000,rené laloux,25229,193817.00,barri bostwick jennif drake eric baugin jean t...