In [2]:
import pandas as pd

In [3]:
# Load Data
df = pd.read_csv("C:/Users/Asus/Desktop/Python/dataset/movies.csv")

In [4]:
# print original table
df.head()

,Unnamed: 0,Series_Title,Released_Year,Genre,Overview,IMDB_Rating,Director,Stars
0,0,The Shawshank Redemption,1994,drama,imprison men bond number year find solac event...,9.3,frank darabont,tim robbin morgan freeman bob gunton william s...
1,1,The Godfather,1972,crime drama,organ crime dynasti age patriarch transfer con...,9.2,franci ford coppola,marlon brando al pacino jame caan dian keaton
2,2,The Dark Knight,2008,action crime drama,menac known joker wreak havoc chao peopl gotha...,9.0,christoph nolan,christian bale heath ledger aaron eckhart mich...
3,3,The Godfather: Part II,1974,crime drama,earli life career vito corleon s new york citi...,9.0,franci ford coppola,al pacino robert niro robert duval dian keaton
4,4,12 Angry Men,1957,crime drama,juri holdout attempt prevent miscarriag justic...,9.0,sidney lumet,henri fonda lee j cobb martin balsam john fiedler

In [5]:
df = df.drop(columns = ["Unnamed: 0"])

In [6]:
df.head()

,Series_Title,Released_Year,Genre,Overview,IMDB_Rating,Director,Stars
0,The Shawshank Redemption,1994,drama,imprison men bond number year find solac event...,9.3,frank darabont,tim robbin morgan freeman bob gunton william s...
1,The Godfather,1972,crime drama,organ crime dynasti age patriarch transfer con...,9.2,franci ford coppola,marlon brando al pacino jame caan dian keaton
2,The Dark Knight,2008,action crime drama,menac known joker wreak havoc chao peopl gotha...,9.0,christoph nolan,christian bale heath ledger aaron eckhart mich...
3,The Godfather: Part II,1974,crime drama,earli life career vito corleon s new york citi...,9.0,franci ford coppola,al pacino robert niro robert duval dian keaton
4,12 Angry Men,1957,crime drama,juri holdout attempt prevent miscarriag justic...,9.0,sidney lumet,henri fonda lee j cobb martin balsam john fiedler

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   int64
 2   Genre          1000 non-null   object
 3   Overview       1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   object
 6   Stars          1000 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 54.8+ KB

In [8]:
df.shape

(1000, 7)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   int64
 2   Genre          1000 non-null   object
 3   Overview       1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   object
 6   Stars          1000 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 54.8+ KB

In [10]:
df["Movies_Infor"] = df["Released_Year"].astype(str) + " " + df["Genre"] + " " + df["Overview"] + " " + df["IMDB_Rating"].astype(str) + " " + df["Director"] + " " + df["Stars"]
df.head()

,Series_Title,Released_Year,Genre,Overview,IMDB_Rating,Director,Stars,Movies_Infor
0,The Shawshank Redemption,1994,drama,imprison men bond number year find solac event...,9.3,frank darabont,tim robbin morgan freeman bob gunton william s...,1994 drama imprison men bond number year find ...
1,The Godfather,1972,crime drama,organ crime dynasti age patriarch transfer con...,9.2,franci ford coppola,marlon brando al pacino jame caan dian keaton,1972 crime drama organ crime dynasti age patri...
2,The Dark Knight,2008,action crime drama,menac known joker wreak havoc chao peopl gotha...,9.0,christoph nolan,christian bale heath ledger aaron eckhart mich...,2008 action crime drama menac known joker wrea...
3,The Godfather: Part II,1974,crime drama,earli life career vito corleon s new york citi...,9.0,franci ford coppola,al pacino robert niro robert duval dian keaton,1974 crime drama earli life career vito corleo...
4,12 Angry Men,1957,crime drama,juri holdout attempt prevent miscarriag justic...,9.0,sidney lumet,henri fonda lee j cobb martin balsam john fiedler,1957 crime drama juri holdout attempt prevent ...

In [11]:
x = df["Movies_Infor"]
x.head()

0    1994 drama imprison men bond number year find ...
1    1972 crime drama organ crime dynasti age patri...
2    2008 action crime drama menac known joker wrea...
3    1974 crime drama earli life career vito corleo...
4    1957 crime drama juri holdout attempt prevent ...
Name: Movies_Infor, dtype: object

In [12]:
y = df["Series_Title"]
y.head()

0    The Shawshank Redemption
1               The Godfather
2             The Dark Knight
3      The Godfather: Part II
4                12 Angry Men
Name: Series_Title, dtype: object

In [13]:
# convert movie information into numeric
from sklearn.feature_extraction.text import TfidfVectorizer

# Fit TF-IDF on the entire dataset (x)
tfidf_vectorizer = TfidfVectorizer(max_features = 1000)
x_tfidf = tfidf_vectorizer.fit_transform(x)
y_tfidf = tfidf_vectorizer.fit_transform(y)

In [14]:
print(x_tfidf)

  (0, 980)	0.21746922611979377
  (0, 137)	0.27571130049517434
  (0, 379)	0.2875410819804923
  (0, 639)	0.29720671723740555
  (0, 915)	0.26317933363522467
  (0, 374)	0.2507944243473429
  (0, 62)	0.2875410819804923
  (0, 753)	0.30279232287141045
  (0, 365)	0.20879453972842443
  (0, 996)	0.21295465127099658
  (0, 140)	0.27571130049517434
  (0, 622)	0.2507944243473429
  (0, 460)	0.29720671723740555
  (0, 312)	0.07011571370263914
  (0, 32)	0.2793689038134347
  (1, 528)	0.2945259113118049
  (1, 296)	0.2898756194522392
  (1, 478)	0.19337849760252862
  (1, 681)	0.2816370916142915
  (1, 73)	0.27126049300526
  (1, 240)	0.31868209426518646
  (1, 368)	0.2528306168013443
  (1, 373)	0.29961972971362866
  (1, 845)	0.22827107614759132
  (1, 331)	0.2945259113118049
  :	:
  (998, 980)	0.24347387901315098
  (998, 312)	0.07850004848756521
  (999, 597)	0.22410567977278983
  (999, 181)	0.22923924221749128
  (999, 587)	0.21957755678549543
  (999, 852)	0.20851773142064617
  (999, 68)	0.3606011440087895
  (999, 435)	0.1999390643949451
  (999, 81)	0.1974579060557969
  (999, 795)	0.18887923903009585
  (999, 932)	0.3225643348553682
  (999, 871)	0.19292978306850248
  (999, 651)	0.118735151261032
  (999, 61)	0.1999390643949451
  (999, 537)	0.1974579060557969
  (999, 913)	0.11462264973783384
  (999, 857)	0.21552701274708877
  (999, 428)	0.1499886355012244
  (999, 602)	0.24461283044786608
  (999, 808)	0.1852150762439184
  (999, 817)	0.1835061455239634
  (999, 864)	0.20544052066137172
  (999, 775)	0.21552701274708877
  (999, 780)	0.13606727798480875
  (999, 249)	0.0972209399887405

In [15]:
print(y_tfidf)

  (0, 536)	0.6883956892151754
  (0, 643)	0.6883956892151754
  (0, 791)	0.22852297508112257
  (1, 192)	0.9387014236187246
  (1, 791)	0.34473125372698654
  (2, 234)	0.7273239070142198
  (2, 138)	0.6368324097998859
  (2, 791)	0.25582106268648125
  (3, 215)	0.5625755822897067
  (3, 435)	0.546292918924003
  (3, 192)	0.5825039516617555
  (3, 791)	0.21392032919601017
  (4, 283)	0.5344543299107184
  (4, 9)	0.6103982859061458
  (4, 1)	0.5846131214765232
  (5, 233)	0.3348288274163998
  (5, 546)	0.3911664945297966
  (5, 555)	0.3746423780411066
  (5, 392)	0.40091304831217456
  (5, 249)	0.3618252775377932
  (5, 791)	0.5503387272323047
  (6, 506)	1.0
  (7, 615)	1.0
  (9, 107)	1.0
  (10, 554)	0.4352692723255221
  :	:
  (986, 920)	0.7533181380242879
  (986, 158)	0.6576562802282205
  (987, 291)	1.0
  (988, 106)	0.5656244882230873
  (988, 232)	0.5338404712671817
  (988, 796)	0.5338404712671817
  (988, 392)	0.2735709904108756
  (988, 791)	0.18776728682720498
  (989, 248)	0.9387014236187246
  (989, 791)	0.34473125372698654
  (990, 788)	0.8340265551932081
  (990, 237)	0.5517243018324918
  (992, 30)	0.9433486082241092
  (992, 791)	0.3318032600226167
  (994, 361)	0.5638230813578109
  (994, 201)	0.6308656922531413
  (994, 141)	0.5330215861164989
  (995, 801)	0.6190504428683128
  (995, 33)	0.5842642725691815
  (995, 13)	0.5247969216599417
  (996, 188)	1.0
  (997, 184)	0.7731161364522519
  (997, 807)	0.6342644870691903
  (999, 728)	0.9490722958309379
  (999, 791)	0.3150583712364945

In [16]:
# Apply LSA to reduce dimension
from sklearn.decomposition import TruncatedSVD

lsa = TruncatedSVD(n_components = 100)
x_lsa = lsa.fit_transform(x_tfidf)
y_lsa = lsa.fit_transform(y_tfidf)

In [17]:
print(x_lsa)

[[ 0.13080425 -0.01102716 -0.01839391 ... -0.10416299  0.02653796
  -0.07233642]
 [ 0.16296577  0.07464911 -0.1816885  ... -0.00673361 -0.08140271
  -0.04803966]
 [ 0.17126711  0.11634823 -0.0306311  ... -0.00406473 -0.02629565
  -0.11315417]
 ...
 [ 0.17328689 -0.06405148  0.05750573 ... -0.0951041  -0.01101992
   0.01925895]
 [ 0.19800731  0.22314641  0.23856288 ... -0.03630427 -0.0128239
  -0.02168782]
 [ 0.20540208  0.12396445 -0.16036371 ... -0.00236379  0.0092751
  -0.00032853]]

In [18]:
print(y_lsa)

[[ 0.22822713 -0.04157199 -0.00218764 ... -0.00253923  0.01924636
  -0.0058247 ]
 [ 0.35039741 -0.06793148 -0.00319147 ...  0.0024999  -0.04363784
   0.02245797]
 [ 0.26233074 -0.05244344  0.00293212 ... -0.00910518 -0.00955444
   0.00881929]
 ...
 [ 0.00835593  0.00385333  0.08086039 ...  0.00179257  0.00233947
  -0.0217356 ]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.31432758 -0.05705924 -0.00299593 ...  0.00656161  0.00411714
  -0.00559479]]

In [19]:
# Find the index for the movie you want to find similar movies for
user_movie = input("Enter a movie name: ")

In [20]:
import numpy as np

# Use euclidean distance to find the nearest 
def euclidean_distance(vec1, vec2):
    return np.sqrt(np.sum((vec1 - vec2) ** 2))

In [21]:
def find_similar_movies(target_vec, lsa):
    distances = []
    for idx, movie_vec in enumerate(lsa):
        diff = euclidean_distance(target_vec, movie_vec)
        distances.append((idx, diff))
    
    # Sort distances in ascending order
    distances.sort(key=lambda x: x[1])
    
    # Return similar movies
    return distances[:10]

In [22]:
movie_index = df[df["Series_Title"] == user_movie].index[0]

# Perform similarity search on the full dataset
target_vec = x_lsa[movie_index]
similar_movies = find_similar_movies(target_vec, x_lsa)

# Display the similar movies
for i, score in similar_movies:
    print("{}: {}".format(i, df.loc[i, "Series_Title"]))

2: The Dark Knight
155: Batman Begins
36: The Prestige
63: The Dark Knight Rises
774: 3:10 to Yuma
217: Ford v Ferrari
819: The Muppet Christmas Carol
730: Kingsman: The Secret Service
502: Iron Man
614: The Fighter

In [23]:
same_series = df[df["Series_Title"].str.contains(user_movie, case=False, na=False)]

same_series.head()

,Series_Title,Released_Year,Genre,Overview,IMDB_Rating,Director,Stars,Movies_Infor
2,The Dark Knight,2008,action crime drama,menac known joker wreak havoc chao peopl gotha...,9.0,christoph nolan,christian bale heath ledger aaron eckhart mich...,2008 action crime drama menac known joker wrea...
63,The Dark Knight Rises,2012,action adventur,year joker reign anarchi batman help enigmat c...,8.4,christoph nolan,christian bale tom hardi ann hathaway gari oldman,2012 action adventur year joker reign anarchi ...

In [32]:
# Precision: measures how many of the top recommended items are relevant
def precision_at_k(y_true, y_pred, k):
    relevant = len(set(y_true) & set(y_pred[:k]))  # Intersection of ground truth and predicted
    if relevant == same_series.shape[0]: 
        return relevant / same_series.shape[0]
    return relevant / k

# Recall: measures how many relevant items are captured in the top recommendation
def recall_at_k(y_true, y_pred, k):
    relevant = len(set(y_true) & set(y_pred[:k]))
    if relevant == same_series.shape[0]: 
        return relevant / same_series.shape[0]
    return relevant / k

# harmonic mean of precision and recall
def f1_at_k(y_true, y_pred, k):
    prec = precision_at_k(y_true, y_pred, k)
    rec = recall_at_k(y_true, y_pred, k)
    if prec + rec == 0:
        return 0
    return 2 * (prec * rec) / (prec + rec)

# actual movie
y_true = same_series["Series_Title"]

# Predict movie    
y_pred = [df.loc[i, "Series_Title"] for i, score in similar_movies]

k = 10
precision = precision_at_k(y_true, y_pred, k)
recall = recall_at_k(y_true, y_pred, k)
f1 = f1_at_k(y_true, y_pred, k)

print(f"Precision@{k}: {precision:.2f}") # AKA: Accurancy
print(f"Recall@{k}: {recall:.2f}")
print(f"F1@{k}: {f1:.2f}")
print("Predicted movies: ", y_pred)

Precision@10: 1.00
Recall@10: 1.00
F1@10: 1.00
Predicted movies:  ['The Dark Knight', 'Batman Begins', 'The Prestige', 'The Dark Knight Rises', '3:10 to Yuma', 'Ford v Ferrari', 'The Muppet Christmas Carol', 'Kingsman: The Secret Service', 'Iron Man', 'The Fighter']