In [1]:
import pandas as pd
from timeit import default_timer as timer

In [2]:
# Load Data
df = pd.read_csv("../dataset/movies.csv")

In [3]:
# print original table
df.head()

,Unnamed: 0,Series_Title,Genre,Overview,Director,Stars
0,0,The Shawshank Redemption,drama,imprison men bond number year find solac event...,frank darabont,tim robbin morgan freeman bob gunton william s...
1,1,The Godfather,crime drama,organ crime dynasti age patriarch transfer con...,franci ford coppola,marlon brando al pacino jame caan dian keaton
2,2,The Dark Knight,action crime drama,menac known joker wreak havoc chao peopl gotha...,christoph nolan,christian bale heath ledger aaron eckhart mich...
3,3,The Godfather: Part II,crime drama,earli life career vito corleon s new york citi...,franci ford coppola,al pacino robert niro robert duval dian keaton
4,4,12 Angry Men,crime drama,juri holdout attempt prevent miscarriag justic...,sidney lumet,henri fonda lee j cobb martin balsam john fiedler

In [4]:
df = df.drop(columns = ["Unnamed: 0"])

In [5]:
df.head()

,Series_Title,Genre,Overview,Director,Stars
0,The Shawshank Redemption,drama,imprison men bond number year find solac event...,frank darabont,tim robbin morgan freeman bob gunton william s...
1,The Godfather,crime drama,organ crime dynasti age patriarch transfer con...,franci ford coppola,marlon brando al pacino jame caan dian keaton
2,The Dark Knight,action crime drama,menac known joker wreak havoc chao peopl gotha...,christoph nolan,christian bale heath ledger aaron eckhart mich...
3,The Godfather: Part II,crime drama,earli life career vito corleon s new york citi...,franci ford coppola,al pacino robert niro robert duval dian keaton
4,12 Angry Men,crime drama,juri holdout attempt prevent miscarriag justic...,sidney lumet,henri fonda lee j cobb martin balsam john fiedler

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series_Title  1000 non-null   object
 1   Genre         1000 non-null   object
 2   Overview      1000 non-null   object
 3   Director      1000 non-null   object
 4   Stars         1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

In [7]:
df.shape

(1000, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series_Title  1000 non-null   object
 1   Genre         1000 non-null   object
 2   Overview      1000 non-null   object
 3   Director      1000 non-null   object
 4   Stars         1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

In [9]:
df["Movies_Infor"] = df["Genre"] + " " + df["Overview"] + " " + df["Director"] + " " + df["Stars"]
df.head()

,Series_Title,Genre,Overview,Director,Stars,Movies_Infor
0,The Shawshank Redemption,drama,imprison men bond number year find solac event...,frank darabont,tim robbin morgan freeman bob gunton william s...,drama imprison men bond number year find solac...
1,The Godfather,crime drama,organ crime dynasti age patriarch transfer con...,franci ford coppola,marlon brando al pacino jame caan dian keaton,crime drama organ crime dynasti age patriarch ...
2,The Dark Knight,action crime drama,menac known joker wreak havoc chao peopl gotha...,christoph nolan,christian bale heath ledger aaron eckhart mich...,action crime drama menac known joker wreak hav...
3,The Godfather: Part II,crime drama,earli life career vito corleon s new york citi...,franci ford coppola,al pacino robert niro robert duval dian keaton,crime drama earli life career vito corleon s n...
4,12 Angry Men,crime drama,juri holdout attempt prevent miscarriag justic...,sidney lumet,henri fonda lee j cobb martin balsam john fiedler,crime drama juri holdout attempt prevent misca...

In [10]:
x = df["Movies_Infor"]
x.head()

0    drama imprison men bond number year find solac...
1    crime drama organ crime dynasti age patriarch ...
2    action crime drama menac known joker wreak hav...
3    crime drama earli life career vito corleon s n...
4    crime drama juri holdout attempt prevent misca...
Name: Movies_Infor, dtype: object

In [11]:
y = df["Series_Title"]
y.head()

0    The Shawshank Redemption
1               The Godfather
2             The Dark Knight
3      The Godfather: Part II
4                12 Angry Men
Name: Series_Title, dtype: object

In [12]:
# convert movie information into numeric
from sklearn.feature_extraction.text import TfidfVectorizer

# Fit TF-IDF on the entire dataset (x)
tfidf_vectorizer = TfidfVectorizer(max_features = 1000)
x_tfidf = tfidf_vectorizer.fit_transform(x)
y_tfidf = tfidf_vectorizer.fit_transform(y)

In [13]:
print(x_tfidf)

  (0, 974)	0.2264870704969537
  (0, 91)	0.2871442818197148
  (0, 334)	0.2994646114637485
  (0, 611)	0.3095310537502744
  (0, 904)	0.2740926491252047
  (0, 329)	0.26119417207154705
  (0, 5)	0.2994646114637485
  (0, 741)	0.31534827892539036
  (0, 320)	0.21745266897120052
  (0, 993)	0.22178528877690445
  (0, 94)	0.2871442818197148
  (0, 592)	0.26119417207154705
  (0, 432)	0.3095310537502744
  (0, 258)	0.07302321747154297
  (1, 494)	0.3092875795722518
  (1, 248)	0.30440421461755696
  (1, 447)	0.2030706473274813
  (1, 658)	0.2957527709368008
  (1, 21)	0.2848560961631422
  (1, 193)	0.3346544728417758
  (1, 323)	0.26550251271258196
  (1, 328)	0.31463670066405536
  (1, 838)	0.23971204541422605
  (1, 282)	0.3092875795722518
  (1, 14)	0.2848560961631422
  :	:
  (998, 974)	0.24347387901315098
  (998, 258)	0.07850004848756521
  (999, 556)	0.22410567977278983
  (999, 134)	0.22923924221749128
  (999, 547)	0.21957755678549543
  (999, 849)	0.20851773142064617
  (999, 15)	0.3606011440087895
  (999, 404)	0.1999390643949451
  (999, 29)	0.1974579060557969
  (999, 783)	0.18887923903009585
  (999, 920)	0.3225643348553682
  (999, 868)	0.19292978306850248
  (999, 623)	0.118735151261032
  (999, 4)	0.1999390643949451
  (999, 502)	0.1974579060557969
  (999, 903)	0.11462264973783384
  (999, 854)	0.21552701274708877
  (999, 396)	0.1499886355012244
  (999, 564)	0.24461283044786608
  (999, 800)	0.1852150762439184
  (999, 810)	0.1835061455239634
  (999, 861)	0.20544052066137172
  (999, 763)	0.21552701274708877
  (999, 768)	0.13606727798480875
  (999, 202)	0.0972209399887405

In [14]:
print(y_tfidf)

  (0, 536)	0.6883956892151754
  (0, 643)	0.6883956892151754
  (0, 791)	0.22852297508112257
  (1, 192)	0.9387014236187246
  (1, 791)	0.34473125372698654
  (2, 234)	0.7273239070142198
  (2, 138)	0.6368324097998859
  (2, 791)	0.25582106268648125
  (3, 215)	0.5625755822897067
  (3, 435)	0.546292918924003
  (3, 192)	0.5825039516617555
  (3, 791)	0.21392032919601017
  (4, 283)	0.5344543299107184
  (4, 9)	0.6103982859061458
  (4, 1)	0.5846131214765232
  (5, 233)	0.3348288274163998
  (5, 546)	0.3911664945297966
  (5, 555)	0.3746423780411066
  (5, 392)	0.40091304831217456
  (5, 249)	0.3618252775377932
  (5, 791)	0.5503387272323047
  (6, 506)	1.0
  (7, 615)	1.0
  (9, 107)	1.0
  (10, 554)	0.4352692723255221
  :	:
  (986, 920)	0.7533181380242879
  (986, 158)	0.6576562802282205
  (987, 291)	1.0
  (988, 106)	0.5656244882230873
  (988, 232)	0.5338404712671817
  (988, 796)	0.5338404712671817
  (988, 392)	0.2735709904108756
  (988, 791)	0.18776728682720498
  (989, 248)	0.9387014236187246
  (989, 791)	0.34473125372698654
  (990, 788)	0.8340265551932081
  (990, 237)	0.5517243018324918
  (992, 30)	0.9433486082241092
  (992, 791)	0.3318032600226167
  (994, 361)	0.5638230813578109
  (994, 201)	0.6308656922531413
  (994, 141)	0.5330215861164989
  (995, 801)	0.6190504428683128
  (995, 33)	0.5842642725691815
  (995, 13)	0.5247969216599417
  (996, 188)	1.0
  (997, 184)	0.7731161364522519
  (997, 807)	0.6342644870691903
  (999, 728)	0.9490722958309379
  (999, 791)	0.3150583712364945

In [15]:
# Apply LSA to reduce dimension
from sklearn.decomposition import TruncatedSVD

lsa = TruncatedSVD(n_components = 100)
x_lsa = lsa.fit_transform(x_tfidf)
y_lsa = lsa.fit_transform(y_tfidf)

In [16]:
print(x_lsa)

[[ 0.13237434  0.00158067 -0.01698187 ... -0.01034633  0.10837669
  -0.12055877]
 [ 0.17150729 -0.083934   -0.19043817 ...  0.06143899  0.01677296
   0.03918199]
 [ 0.17187668 -0.12641812 -0.0331429  ...  0.02382018  0.02797234
   0.01139833]
 ...
 [ 0.17634764  0.07713964  0.048409   ... -0.03424544 -0.03013454
   0.08205613]
 [ 0.20352622 -0.19645799  0.24220053 ... -0.02489939 -0.06976351
   0.01398377]
 [ 0.20999799 -0.12689621 -0.15577279 ... -0.0038737   0.02661753
  -0.01890116]]

In [17]:
print(y_lsa)

[[ 0.22822713 -0.04157199 -0.00218773 ...  0.00172499  0.01036242
   0.00193136]
 [ 0.35039741 -0.06793156 -0.00319594 ...  0.05074255  0.00640944
   0.05205183]
 [ 0.26233074 -0.05244355  0.00293176 ...  0.002375   -0.0112409
   0.0131256 ]
 ...
 [ 0.00835593  0.00385344  0.08085852 ...  0.02204189 -0.01495061
   0.01458407]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.31432758 -0.05705922 -0.00299751 ...  0.00955906  0.00635899
   0.00142459]]

In [18]:
# Find the index for the movie you want to find similar movies for
user_movie = input("Enter a movie name: ")

In [19]:
start = timer()
import numpy as np

# Use euclidean distance to find the nearest 
def euclidean_distance(vec1, vec2):
    return np.sqrt(np.sum((vec1 - vec2) ** 2))

In [20]:
def find_similar_movies(target_vec, lsa):
    distances = []
    for idx, movie_vec in enumerate(lsa):
        diff = euclidean_distance(target_vec, movie_vec)
        distances.append((idx, diff))
    
    # Sort distances in ascending order
    distances.sort(key=lambda x: x[1])
    
    # Return similar movies
    return distances[:10]

In [21]:
movie_index = df[df["Series_Title"] == user_movie].index[0]

# Perform similarity search on the full dataset
target_vec = x_lsa[movie_index]
similar_movies = find_similar_movies(target_vec, x_lsa)

# Display the similar movies
for i, score in similar_movies:
    print("{}: {}".format(i, df.loc[i, "Series_Title"]))

892: Moana
399: Aladdin
592: Big Hero 6
740: Wreck-It Ralph
651: Shrek
744: The Lego Movie
986: Watership Down
245: Monsters, Inc.
135: Klaus
976: The Little Mermaid

In [22]:
end = timer()

In [23]:
same_series = df[df["Series_Title"].str.contains(user_movie, case=False, na=False)]

same_series.head()

,Series_Title,Genre,Overview,Director,Stars,Movies_Infor
892,Moana,anim adventur comedi,ancient polynesia terribl curs incur demigod m...,ron clement,john musker don hall chri william aulii cravalho,anim adventur comedi ancient polynesia terribl...

In [24]:
# Precision: measures how many of the top recommended items are relevant
def precision_at_k(y_true, y_pred, k):
    relevant = len(set(y_true) & set(y_pred[:k]))  # Intersection of ground truth and predicted
    if relevant == same_series.shape[0]: 
        return relevant / same_series.shape[0]
    return relevant / k

# Recall: measures how many relevant items are captured in the top recommendation
def recall_at_k(y_true, y_pred, k):
    relevant = len(set(y_true) & set(y_pred[:k]))
    if len(y_true) == 0: 
        return 0
    return relevant / len(y_true) 

# harmonic mean of precision and recall
def f1_at_k(y_true, y_pred, k):
    prec = precision_at_k(y_true, y_pred, k)
    rec = recall_at_k(y_true, y_pred, k)
    if prec + rec == 0:
        return 0
    return 2 * (prec * rec) / (prec + rec)

# actual movie
y_true = same_series["Series_Title"]

# Predict movie    
y_pred = [df.loc[i, "Series_Title"] for i, score in similar_movies]

k = 10
precision = precision_at_k(y_true, y_pred, k)
recall = recall_at_k(y_true, y_pred, k)
f1 = f1_at_k(y_true, y_pred, k)

print(f"Precision@{k}: {precision:.2f}") # AKA: Accurancy
print(f"Recall@{k}: {recall:.2f}")
print(f"F1@{k}: {f1:.2f}")
print(f"Executed Time: {end-start:.2f} seconds")
print("Predicted movies: ", y_pred)

Precision@10: 1.00
Recall@10: 1.00
F1@10: 1.00
Executed Time: 0.05 seconds
Predicted movies:  ['Moana', 'Aladdin', 'Big Hero 6', 'Wreck-It Ralph', 'Shrek', 'The Lego Movie', 'Watership Down', 'Monsters, Inc.', 'Klaus', 'The Little Mermaid']

In [25]:
import pickle
pickle.dump(x_lsa, open('../pickle/lsa.pkl', 'wb'))
pickle.load(open('../pickle/lsa.pkl', 'rb'))

array([[ 0.13237434,  0.00158067, -0.01698187, ..., -0.01034633,
         0.10837669, -0.12055877],
       [ 0.17150729, -0.083934  , -0.19043817, ...,  0.06143899,
         0.01677296,  0.03918199],
       [ 0.17187668, -0.12641812, -0.0331429 , ...,  0.02382018,
         0.02797234,  0.01139833],
       ...,
       [ 0.17634764,  0.07713964,  0.048409  , ..., -0.03424544,
        -0.03013454,  0.08205613],
       [ 0.20352622, -0.19645799,  0.24220053, ..., -0.02489939,
        -0.06976351,  0.01398377],
       [ 0.20999799, -0.12689621, -0.15577279, ..., -0.0038737 ,
         0.02661753, -0.01890116]])

In [26]:
similar_movies

[(892, 0.0),
 (399, 0.46691576180516436),
 (592, 0.5311216801192656),
 (740, 0.5608621122439756),
 (651, 0.5626006329850564),
 (744, 0.5887126342883277),
 (986, 0.592494879504584),
 (245, 0.5940123799806446),
 (135, 0.5968631506106519),
 (976, 0.5982911438260663)]